html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}
body{
	background: #DDD;
	padding: 50px;
	font-family: Monaco, Courier;
}

h1,h2,h3,h4,h5,p{
	margin-bottom: .5em;
}

.wrapper{
	width: 550px;
	margin: 0 auto;
	background: #FFF;
	padding: 20px;
	ul{
		list-style: none;
		margin-bottom: 20px;
	}
	li{
		padding: 3px 7px;
		small{
			display: block;
			float: right;
		}
		h3{
		color: #777;
		margin: 15px 0 0;
		display: block;
	}

	}
}
